__pycache__
venv
.env
temp
*.log
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# OSX
.DS_Store

# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.*
package-lock.json
yarn-error.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
